# SPDX-FileCopyrightText: 2026 Skye Soss <skye@soss.website>
#
# SPDX-License-Identifier: Apache-2.0

# EditorConfig is awesome: https://editorconfig.org

root = true

[!patches/**]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
